/*
//------------------------------
//  Application
//------------------------------
*/
Application
{
	backgroundColors: #000000,#3f3f3f;
	backgroundImage: Embed(source="416894_3055.jpg");
	backgroundSize: "100%";
	backgroundAlpha: .8;
}

/*
//------------------------------
//  Button
//------------------------------
*/
Button
{
	disabledSkin: Embed(source="obsidian.swf", symbol="Button_disabledSkin");
	downSkin: Embed(source="obsidian.swf", symbol="Button_downSkin");
	overSkin: Embed(source="obsidian.swf", symbol="Button_overSkin");
	upSkin: Embed(source="obsidian.swf", symbol="Button_upSkin");
	selectedDisabledSkin: Embed(source="obsidian.swf", symbol="Button_disabledSkin");
	selectedDownSkin: Embed(source="obsidian.swf", symbol="Button_upSkin");
	selectedOverSkin: Embed(source="obsidian.swf", symbol="Button_overSkin");
	selectedUpSkin: Embed(source="obsidian.swf", symbol="Button_downSkin");
	color: #ffffff;
	textRollOverColor: #ffffff;
	textSelectedColor:#ffffff;
}
/* 
//------------------------------ 
//  ButtonBarButtons 
//------------------------------ 
*/ 

.firstButtonBarButton 
{ 
        disabledSkin: Embed(source="obsidian.swf", symbol="ButtonBar_firstDisabledSkin"); 
        downSkin: Embed(source="obsidian.swf", symbol="ButtonBar_firstDownSkin"); 
        overSkin: Embed(source="obsidian.swf", symbol="ButtonBar_firstOverSkin"); 
        selectedDisabledSkin: Embed(source="obsidian.swf", symbol="ButtonBar_firstSelectedDisabledSkin"); 
        selectedDownSkin: Embed(source="obsidian.swf", symbol="ButtonBar_firstSelectedUpSkin"); 
        selectedOverSkin: Embed(source="obsidian.swf", symbol="ButtonBar_firstSelectedUpSkin");
        selectedUpSkin: Embed(source="obsidian.swf", symbol="ButtonBar_firstSelectedUpSkin");
        upSkin: Embed(source="obsidian.swf", symbol="ButtonBar_firstUpSkin");
        color: #ffffff;
		textRollOverColor: #ffffff;
		textSelectedColor:#ffffff; 
}
.buttonBarButton 
{ 
        disabledSkin: Embed(source="obsidian.swf", symbol="ButtonBar_buttonDisabledSkin"); 
        downSkin: Embed(source="obsidian.swf", symbol="ButtonBar_buttonDownSkin"); 
        overSkin: Embed(source="obsidian.swf", symbol="ButtonBar_buttonOverSkin"); 
        selectedDisabledSkin: Embed(source="obsidian.swf", symbol="ButtonBar_buttonSelectedDisabledSkin"); 
        selectedDownSkin: Embed(source="obsidian.swf", symbol="ButtonBar_buttonSelectedUpSkin"); 
        selectedOverSkin: Embed(source="obsidian.swf", symbol="ButtonBar_buttonSelectedUpSkin");
        selectedUpSkin: Embed(source="obsidian.swf", symbol="ButtonBar_buttonSelectedUpSkin");
        upSkin: Embed(source="obsidian.swf", symbol="ButtonBar_buttonUpSkin");
        color: #ffffff;
		textRollOverColor: #ffffff;
		textSelectedColor:#ffffff; 
}

.lastButtonBarButton 
{ 
        disabledSkin: Embed(source="obsidian.swf", symbol="ButtonBar_lastDisabledSkin"); 
        downSkin: Embed(source="obsidian.swf", symbol="ButtonBar_lastDownSkin"); 
        overSkin: Embed(source="obsidian.swf", symbol="ButtonBar_lastOverSkin"); 
        selectedDisabledSkin: Embed(source="obsidian.swf", symbol="ButtonBar_lastSelectedDisabledSkin"); 
        selectedDownSkin: Embed(source="obsidian.swf", symbol="ButtonBar_lastSelectedUpSkin"); 
        selectedOverSkin: Embed(source="obsidian.swf", symbol="ButtonBar_lastSelectedUpSkin");
        selectedUpSkin: Embed(source="obsidian.swf", symbol="ButtonBar_lastSelectedUpSkin");
        upSkin: Embed(source="obsidian.swf", symbol="ButtonBar_lastUpSkin");
        color: #ffffff;
		textRollOverColor: #ffffff;
		textSelectedColor:#ffffff; 
}

/*
//------------------------------
//  CheckBox
//------------------------------
*/
CheckBox
{
	disabledIcon: Embed(source="obsidian.swf", symbol="CheckBox_disabledIcon");
	downIcon: Embed(source="obsidian.swf", symbol="CheckBox_downIcon");
	overIcon: Embed(source="obsidian.swf", symbol="CheckBox_overIcon");
	selectedDisabledIcon: Embed(source="obsidian.swf", symbol="CheckBox_selectedDisabledIcon");
	selectedDownIcon: Embed(source="obsidian.swf", symbol="CheckBox_selectedDownIcon");
	selectedOverIcon: Embed(source="obsidian.swf", symbol="CheckBox_selectedOverIcon");
	selectedUpIcon: Embed(source="obsidian.swf", symbol="CheckBox_selectedUpIcon");
	upIcon: Embed(source="obsidian.swf", symbol="CheckBox_upIcon");
	color: #000000;
	
}	
/*
//------------------------------
//  ComboBox
//------------------------------
*/
ComboBox
{

	disabledSkin: Embed(source="obsidian.swf", symbol="ComboBoxArrow_disabledSkin");
	/*downSkin: Embed(source="obsidian.swf", symbol="ComboBoxArrow_downSkin");*/
	editableDisabledSkin: Embed(source="obsidian.swf", symbol="ComboBoxArrow_editableDisabledSkin");
	editableDownSkin: Embed(source="obsidian.swf", symbol="ComboBoxArrow_editableDownSkin");
	editableOverSkin: Embed(source="obsidian.swf", symbol="ComboBoxArrow_editableOverSkin");
	editableUpSkin: Embed(source="obsidian.swf", symbol="ComboBoxArrow_editableUpSkin");
	/*overSkin: Embed(source="obsidian.swf", symbol="ComboBoxArrow_overSkin");
	/upSkin: Embed(source="obsidian.swf", symbol="ComboBoxArrow_upSkin");*/
	color: #ffffff;
	textRollOverColor: #ffffff;
	textSelectedColor:#ffffff;
	dropDownStyleName: "dropDown";
	highlightAlphas: .5, .8;
}		

/*
//------------------------------
//  DropDown
//------------------------------
*/
.dropDown {
	backgroundColor: #000000;
	backgroundAlpha: .7;
	borderStyle: solid;
	borderThickness: 1;
	borderColor: #3f3f3f;
	roundedCorners:5;
	color: #ffffff;
	textRollOverColor: #000000;
	textSelectedColor:#000000;
}
/*
//------------------------------
//  CursorManager
//------------------------------
*/
CursorManager
{
	busyCursor: Embed(source="obsidian.swf", symbol="BusyCursor");
	busyCursorBackground: Embed(source="obsidian.swf",symbol="BusyCursor");
}	
/*
//------------------------------
//	GameBox
//------------------------------
*/ 
.gamebox
{
	backgroundImage: Embed(source="wiiflex2.jpg");
	backgroundColor: #FFFFFF;
	cornerRadius: 5;
	borderThickness: 3;
	borderColor: #B7BABC;
}
/*
//------------------------------
//  Slider
//------------------------------
*/
Slider
{
	thumbDisabledSkin: Embed(source="obsidian.swf", symbol="SliderThumb_disabledSkin");
	thumbDownSkin: Embed(source="obsidian.swf", symbol="SliderThumb_downSkin");
	thumbOverSkin: Embed(source="obsidian.swf", symbol="SliderThumb_overSkin");
	thumbUpSkin: Embed(source="obsidian.swf", symbol="SliderThumb_upSkin");
	trackHighlightSkin: Embed(source="obsidian.swf", symbol="SliderHighlight_Skin");
	trackSkin: Embed(source="obsidian.swf", symbol="SliderTrack_Skin");
}

HSlider
{
	thumbDisabledSkin: Embed(source="obsidian.swf", symbol="SliderThumb_disabledSkin");
	thumbDownSkin: Embed(source="obsidian.swf", symbol="SliderThumb_downSkin");
	thumbOverSkin: Embed(source="obsidian.swf", symbol="SliderThumb_overSkin");
	thumbUpSkin: Embed(source="obsidian.swf", symbol="SliderThumb_upSkin");
	trackHighlightSkin: Embed(source="obsidian.swf", symbol="SliderHighlight_Skin");
	trackSkin: Embed(source="obsidian.swf", symbol="SliderTrack_Skin");
}

VSlider
{
	thumbDisabledSkin: Embed(source="obsidian.swf", symbol="SliderThumb_disabledSkin");
	thumbDownSkin: Embed(source="obsidian.swf", symbol="SliderThumb_downSkin");
	thumbOverSkin: Embed(source="obsidian.swf", symbol="SliderThumb_overSkin");
	thumbUpSkin: Embed(source="obsidian.swf", symbol="SliderThumb_upSkin");
	trackHighlightSkin: Embed(source="obsidian.swf", symbol="SliderHighlight_Skin");
	trackSkin: Embed(source="obsidian.swf", symbol="SliderTrack_Skin");
}
/*
//------------------------------
//  DataGrid
//------------------------------
*/
DataGrid
{

	columnDropIndicatorSkin: Embed(source="obsidian.swf", symbol="DataGrid_columnDropIndicatorSkin");
	columnResizeSkin: Embed(source="obsidian.swf", symbol="DataGrid_columnResizeSkin");
	headerSeparatorSkin: Embed(source="obsidian.swf", symbol="DataGrid_headerSeparatorSkin");
	sortArrowSkin: Embed(source="obsidian.swf", symbol="DataGrid_sortArrowSkin");
	stretchCursor: Embed(source="obsidian.swf",symbol="DataGrid_stretchCursor");
	headerStyleName: "dataGridHeader";
	headerColors: #000000, #3f3f3f;
	rollOverColor: #00a9ff;
	selectionColor: #00a9ff;
	disabledColor: #999999;
	selectiondDisabledColor: #999999;
	alternatingItemColors: #ffffff, #eeeeee;
	
}
/*
//------------------------------
//  DataGridHeader
//------------------------------
*/
.dataGridHeader
{

	color: #ffffff;
	

}
/*
//------------------------------
//  DividedBox
//------------------------------
*/
DividedBox
{
	dividerSkin: Embed(source="obsidian.swf",symbol="DividedBox_dividerSkin");
	horizontalCursor: Embed(source="obsidian.swf",symbol="DividedBox_horizontalCursor");
	verticalCursor: Embed(source="obsidian.swf",symbol="DividedBox_verticalCursor");
}
/*
//------------------------------
//  FormItem
//------------------------------
*/
FormItem
{
	indicatorSkin: Embed(source="obsidian.swf",symbol="FormItem_indicatorSkin");  
}
/*
//------------------------------
//  Image
//------------------------------
*/
Image
{

	brokenImageSkin: Embed(source="obsidian.swf",symbol="Loader_brokenImageSkin");

}
/*
//------------------------------
//  LinkButton
//------------------------------
*/
LinkButton
{
	disabledSkin: Embed(source="obsidian.swf", symbol="LinkButton_disabledSkin");
	downSkin: Embed(source="obsidian.swf", symbol="LinkButton_downSkin");
	overSkin: Embed(source="obsidian.swf", symbol="LinkButton_overSkin");
	upSkin: Embed(source="obsidian.swf", symbol="LinkButton_upSkin");
}
/*
//------------------------------
//  Loader
//------------------------------
*/
Loader
{
	brokenImageSkin: Embed(source="obsidian.swf",symbol="Loader_brokenImageSkin");

}
/*
//------------------------------
//  Menu
//------------------------------
*/
Menu
{
	branchIcon: Embed(source="obsidian.swf",symbol="Menu_branchIcon");
	branchDisabledIcon: Embed(source="obsidian.swf",symbol="Menu_branchDisabledIcon");
	checkIcon: Embed(source="obsidian.swf",symbol="Menu_checkIcon");
	checkDisabledIcon: Embed(source="obsidian.swf",symbol="Menu_checkDisabledIcon");
	radioIcon: Embed(source="obsidian.swf",symbol="Menu_radioIcon");
	radioDisabledIcon: Embed(source="obsidian.swf",symbol="Menu_radioDisabledIcon");
	separatorSkin: Embed(source="obsidian.swf",symbol="Menu_separatorSkin");
	backgroundColor: #000000;
	backgroundAlpha: .7;
	borderStyle: solid;
	borderThickness: 1;
	borderColor: #3f3f3f;
	roundedCorners:5;
	color: #ffffff;
	textRollOverColor: #000000;
	textSelectedColor:#000000;
}
/*
//------------------------------
//  MenuBar
//------------------------------
*/
MenuBar
{

	backgroundSkin: Embed(source="obsidian.swf", symbol="MenuBar_backgroundSkin");
	itemUpSkin: Embed(source="obsidian.swf", symbol="MenuBar_itemUpSkin");
	itemOverSkin: Embed(source="obsidian.swf", symbol="MenuBar_itemOverSkin");
	itemDownSkin: Embed(source="obsidian.swf", symbol="MenuBar_itemDownSkin");
	color: #ffffff;
	backgroundColor:#000000;
	backgroundAlpha:.9;
	textRollOverColor: #000000;
	textSelectedColor:#000000;

}
/*
//------------------------------
//  Panel
//------------------------------
*/
Panel
{
	backgroundColor:#1f222e;
}


